/.quarto/
/_site/
/.vscode/
/.Rproj.user/
*.Rproj
/.Rhistory
/.RData
/.Ruserdata
.DS_Store
Thumbs.db
*.log
node_modules/
.env
renv/library/
renv/staging/
renv/python/
renv/cache/
/.targets/
/.tarchetypes/

**/*.quarto_ipynb
